black>=24.1.0
IPython
mdx_truly_sane_lists==1.3
mkdocs==1.5.3
mkdocs-glightbox==0.3.7
mkdocs-jupyter
mkdocs-material[imaging]==9.5.17
mkdocstrings[python]>=0.25.0  # griffe.collections error
pandas
Pillow
pydot
requests
termynal==0.11.1
