name: Code Coverage

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]

jobs:
  codecov:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Add conda to system path
        run: |
          # $CONDA is an environment variable pointing to the root of the miniconda directory
          echo $CONDA/bin >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          python -m pip install pandas pydot Pillow
      - name: Generate coverage report
        run: |
          python -m pip install pytest pytest-cov
          pytest --cov=./ --cov-report=xml
      - name: Convert coverage report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.xml
          badge: true
          format: markdown
          indicators: true
          output: both
      - name: Upload coverage to PR comment
        if: ${{ github.event_name == 'pull_request' }}
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          recreate: true
          path: code-coverage-results.md
      - name: Upload coverage to Codecov
        if: ${{ github.event_name == 'push' }}
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true # optional (default = false)
          name: codecov-umbrella
          verbose: true # optional (default = false)
