name: Docs

on:
  workflow_run:
    workflows: ["Upload Python Package"]
    branches: [master]
    types: 
      - completed

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Check if upstream workflow failed
        if: ${{ github.event.workflow_run.conclusion == 'failure' }}
        run: echo hello
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install dependencies
        run: |
          pip install -r docs/requirements.txt
      - name: Sphinx build
        run: |
          sphinx-build docs/source docs/build
      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/
          force_orphan: true
      - name: Deploy to RTD
      - uses: actions/upload-artifact@v2
        with:
          name: docs-${{ github.sha }}
          path: docs/build/html
      - name: Trigger RTDs build
        uses: dfm/rtds-action@v1
        with:
          webhook_url: ${{ secrets.RTD_URL }}
          webhook_token: ${{ secrets.RTD_TOKEN }}
          commit_ref: ${{ github.ref }}
