name: Upload Python Package

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install hatch
    - name: Build package
      run: hatch build
    - name: Publish package
      env:
        HATCH_USER:  ${{ secrets.HATCH_USER }}
        HATCH_AUTH:  ${{ secrets.HATCH_AUTH }}
      run: hatch publish -u $HATCH_USER -a $HATCH_AUTH
    - name: Set env var
      id: set-env-var
      run: |
        VERSION_NUMBER=$(python -c "import bigtree; print(bigtree.__version__)")
        echo "VERSION_NUMBER=${VERSION_NUMBER}" >> $GITHUB_OUTPUT
    - name: Create release
      uses: marvinpinto/action-automatic-releases@latest
      env:
        VERSION_NUMBER: ${{ steps.set-env-var.outputs.VERSION_NUMBER }}
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        automatic_release_tag: ${{ env.VERSION_NUMBER }}
        title: v${{ env.VERSION_NUMBER }}
        prerelease: true
        files: |
          *.zip
          *.tar.gz
